/* Flowbite */
@import 'flowbite';

/* Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;



.typewriter {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 4px solid #000; /* Cursor effect */
  font-size: 2.5rem; /* Increase font size */
  font-weight: bold; /* Make it bolder */
  font-family: 'sans-sarif'; /* Choose a typewriter-style font */
  text-transform: uppercase; /* Make text uppercase for emphasis */
  letter-spacing: 2px; /* Add space between letters for better readability */
  color: #000; /* White text color */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add shadow for depth */
  animation: typing 6s steps(30) 1s infinite, blink 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 76%; /* Ensure full tagline is typed */
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}



/* Optional: You can customize the modal overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: #fff;
  padding: 20px;
  position: relative;
  max-width: 80%;
  max-height: 80%;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 50%;
  font-size: 20px;
  padding: 5px 10px;
  cursor: pointer;
}




/* :root {
  font-family: Inter, system-ui,npx tailwindcss init
  Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
